.benner-partners{
    width: 80%;
    margin: 50px auto;
    .conten-parners{
        margin-top: 10px;
        .desc-partners{
            color: #757575;
        }
        .field-partners{
            margin-top: 60px;
            .title{
                a{
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 20px;
                    color: #000;
                }
                a:hover{
                    color: #3eaafd;
                }
            }
            .info{
               .category{
                   color: #3eaafd;
               } 
            }
        }
    }
}