.list-style-content{
    .list{
        ul{
            li{
                color: #757575;
            }
        }
        ol{
            li{
                color: #757575;
            }
        }
    }
    .columns{
        p{
            color: #757575;
        }
    }
}