.block-views{
   margin-top: 20%;
   margin-left: 40%;
   .block-content{    
       ul{
        display: inline;
        list-style: none;
        .view-list-item{
            margin-bottom: 25px;
            border: 1px solid #dee2e6;
                width: 250px;
                padding: 5px 20px 5px;
                height: 35px;
            a{
                color: #000;
                font-weight: 500;
                text-decoration: none;
                transition: all .35s;
            }
            a:hover{
                transition: all .35s;
                color: #3eaafd;
            }
        }
       }
      
   }
}